<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="css/adminStyle.css">
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  </head>

    <body >

      <div class="tit">

      </div>
<form class="" action="index.html" method="post">


  <div class="body-img">

<div class="">


    <div class="login-box">
      <div class="title-box">
        <h1>Admin log in</h1>

      </div>
      <div class="mail-box">
        <input class="txt-box form-control" type="email" name="email" placeholder="Username or Email id" title="Email or user name">
      </div>
      <div class="password">
        <input class="txt-box form-control" type="password" name="email" placeholder="password" title="password">
      </div>
      <div class="btu-login">
        <button class="log-btn btn-primary"type="login" name="login"title="login">longin</button>

      </div>
      <hr class="line">
      <div class="create-acc">
         <p>don't have account ? <a href="adminSignup.html" title="create new account">Sign up</a> </p>
      </div>
    </div>
</div>
  </div>



</form>


  </body>
</html>
