<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>JOBPORTAL | HOME</title>
    <meta charset="UTF-8">

        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">


</head>
<body>
    
        <nav class="tit navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <h2>Jobs Map</h2>

              <div class="row donate-sponsor">
                <a  class="btn" href="/logout">Profile</a>
                <a  class="btn"  href="display">Logout</a>
              </div>
            </div>
          </nav>

          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">Available Jobs</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Amazon</h5>
                      <p class="card-text">Software Development Engineer-Test
                      </p>
                      <a href="https://www.amazon.jobs/en/jobs/2166286/software-development-engineer-test"  target="_blank"class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Cognizant</h5>
                      <p class="card-text">Programmer Analyst Trainee </p>
                        <a href="https://careers.cognizant.com/in/en/job/COGNGLOBAL00041486673/Programmer-Analyst-Trainee?utm_source=linkedin&utm_medium=phenom-feeds" target="_blank" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Canonical</h5>
                      <p class="card-text"> Security Engineer- Ubuntu
</p>
                        <a href="https://boards.greenhouse.io/canonicaljobs/jobs/4698780?gh_src=4aa335b81us" target="_blank" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->
          <section class="our-focus">
              <div class="container">

                <div class="row ml-3 mt-3">
                  <div class="col-lg-3 mr-5" id="focus-first">
                    <div class="card" style="width: 19rem;">
                      <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                      <div class="card-body">
                        <h5 class="card-title">Paypal</h5>
                        <p class="card-text">Software Engineer
                        </p>
                        <a href="https://wd1.myworkdaysite.com/recruiting/paypal/jobs/job/Chennai-Tamil-Nadu-India/MTS-2--Software-Engineer_R0094882?Codes=W-LINKEDIN" target="_blank" class="btn btn-primary">Apply Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 mr-5" id="focus-second">
                    <div class="card" style="width: 20rem;">
                      <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                      <div class="card-body">
                        <h5 class="card-title">Amazon</h5>
                        <p class="card-text">Data Scientist Intern</p>
                          <a href="https://www.amazon.jobs/en/jobs/2213292/data-scientist-intern" target="_blank" class="btn btn-primary">Apply Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 ml-5" id="focus-third">
                    <div class="card" style="width: 20rem;">
                      <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                      <div class="card-body">
                        <h5 class="card-title">Conxai</h5>
                        <p class="card-text">Deep Learning Engineers </p>
                          <a href="https://join.com/companies/conxai/6339429-deep-learning-engineers-internship?pid=24a1b46991e3de1fbcf0s" target="_blank" class="btn btn-primary">Apply Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


            <section class="our-focus">
                <div class="container">

                  <div class="row ml-3 mt-3">
                    <div class="col-lg-3 mr-5" id="focus-first">
                      <div class="card" style="width: 19rem;">
                        <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">Hexaware</h5>
                          <p class="card-text">Application Front end Developer
                          </p>
                          <a href="https://jobs.hexaware.com/job/application-front-end-developer-175397?cp=74&p=9&utm_source=Linkedin&utm_medium=referral&utm_campaign=wrap" target="_blank" class="btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mr-5" id="focus-second">
                      <div class="card" style="width: 20rem;">
                        <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">Amazon</h5>
                          <p class="card-text">Data Scientist I</p>
                            <a href="https://www.amazon.jobs/en/jobs/1744525/data-scientist-i" target="_blank" class="btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 ml-5" id="focus-third">
                      <div class="card" style="width: 20rem;">
                        <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">Microsoft</h5>
                          <p class="card-text">Software Engineer II</p>
                            <a href="https://careers.microsoft.com/us/en/job/1482841/Software-Engineer-II" target="_blank" class="btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>


              <section class="our-focus">
                  <div class="container">

                    <div class="row ml-3 mt-3">
                      <div class="col-lg-3 mr-5" id="focus-first">
                        <div class="card" style="width: 19rem;">
                          <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">Amazon</h5>
                            <p class="card-text">Business Analyst - I
                            </p>
                            <a href="https://www.amazon.jobs/en/jobs/2299370/business-analyst-i?cmpid=SPLICX0248M&ss=paid&utm_campaign=cxro&utm_content=job_posting&utm_medium=social_media&utm_source=linkedin.com" class="btn btn-primary">Apply Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 mr-5" id="focus-second">
                        <div class="card" style="width: 20rem;">
                          <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">Amazon</h5>
                            <p class="card-text">Robotics - Electrical Engineer Intern</p>
                              <a href="https://www.amazon.jobs/en/jobs/2259702/amazon-robotics-electrical-engineer-intern-summer-2023" class="btn btn-primary">Apply Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 ml-5" id="focus-third">
                        <div class="card" style="width: 20rem;">
                          <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                          <div class="card-body">
                            <h5 class="card-title">Wipro</h5>
                            <p class="card-text">Business Analyst</p>
                              <a href="https://careers.wipro.com/careers-home/jobs/2931947?lang=en-us&utm_source=Linkedin" class="btn btn-primary">Apply Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
        <!-- footer starts -->
          <!-- Site footer -->

          </body>
</html>
