<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/display.css">
    <title></title>
  </head>
  <body>
    <div class="tit">
      <div class="row ">
        <a type="button" class="btn btn-success mr-1" id="donate" href="/logout">LOGOUT</a>
        <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
        <a type="button" class="btn btn-primary mr-1" id="sponsor" href="display">MY JOBS</a>
      </div>
    </div>
    <div class="details-box">
      <h2><u>Your details</u></h2>

      <table class="tab-box"><br><br><br><br>
        <tr>
          <td>firstname:</td>
          <td>{{ account[0] }}</td>
        </tr>
        <tr>
          <td>lastname:</td>
          <td>{{ account[1] }}</td>
        </tr>
        <tr>
          <td>Email ID:</td>
          <td>{{ account[2] }}</td>
        </tr>
        <tr>
          <td>College:</td>
          <td>{{ account[3] }}</td>
        </tr>
        <tr>
          <td>Qualification:</td>
          <td>{{ account[4] }}</td>
        </tr>
        <tr>
          <td>Skills:</td>
          <td>{{ account[5] }}</td>
        </tr>
        <tr>
          <td>Intrest:</td>
          <td>{{ account[6] }}</td>
        </tr>
    </div>
  </body>
</html>
