*{
  margin: 0;
  padding: 0;
}
.body-img{
  background-image:url("admin.png");

  height: 100%;
  width: 100%;
  ;
  position:absolute;
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

}
.tit{
  height: 40px;
  width: 100%;
    background: #009999;
}

.heading{
  height: 100px;
  width: 430px;
position: relative;
left:4%;
top: 140  px;
}
.botton-heading{
  height: 100px;
  width: 430px;
position: relative;
left: 12%;
top: 500px;
}

.login-box{
height: 500px;
width: 370px;
background: rgba(255, 255, 255,0.6);
position: relative;
top: 70px;
left: 50%;
border-radius: 5%;

}


.mail-box{
  position: relative;
  height: 10%;
  width: 80%;
  left: 10%;
  top:5%;
}
.password{
  position: relative;
  height: 10%;
  width: 80%;

  left: 10%;
  top:10%;
}
.title-box{
  position:relative ;

  height: 100px;
 padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;
 padding-bottom: 0;
}
.btu-login{
  position: relative;
  height: 10%;
  width: 80%;
  left: 10%;
  top:15%;
}
.register-box{
  background: rgba(255, 255, 255,0.6);
  width: 30%;
  height: 80%;
  position: relative;
  margin: auto;
  top: 5%;
  border-radius: 10px;
}

.re-Title{

  height: 7%;
  width: 90%;
  position: relative;
  margin: auto;
  top:5%;
}
.lastFirst-name{

  height: 7%;
  width: 90%;
  position: relative;
  margin: auto;
  top:10%;
}
.email{

  height: 7%;
  width: 90%;
  position: relative;
  margin: auto;
  top:20%;
}
.signupPassword{

    height: 7%;
    width: 90%;
    position: relative;
    left: 0%;
    margin: auto;
    top:25%;
}
.re-password{

    height: 7%;
    width: 90%;
    position: relative;
    margin: auto;
    top:30%;
}
.log-btn{
  position: relative;
  height: 100%;
  width:100%;
  text-align: center;
  border-radius: 12px;
 font-size: 100%;
}
.txt-box{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  text-align: left;
  padding-left: 5%;
}

 .line{
   position: relative;
   margin-left: 20%;
   margin-right: 20%;
   top: 20%;
}
.create-acc{
  height: 10%;
  width: 80%;
    left: 10%;
  position:relative;
  top: 20%;
  font-size: 12px;
  text-align: center;
}

.title-txt{
  font-weight: bold;
  font-size: 40px;
  font-family:serif;
}
.bottom-txt{
  font-size:40px;
  position: relative;
  bottom: 100%;
  left: 10%;
  font-weight: bolder;
  font-family:serif;
  color: #fff;
}

.search{

  position: relative;
  right: 30px;
}
.signup{

  height: 7%;
  width: 90%;
  position: relative;
  margin: auto;
  top:35%;
}
.first-name{
position: relative;
top: 10%;
  height: 100%;
  width: 45%;
}
.last-name{
position:relative;

    height: 100%;
    width: 45%;
    left: 55%;
    bottom: 90%;
  }
  .signup-btn{
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
.org{
  height: 7%;
  width: 90%;
  position: relative;
  margin: auto;
  top:15%;
}
