*{
  margin: 0;
  padding: 0;
}
h2{
  margin-left: 3%;
  margin-top: 2%;
  color: white;
}
.tit{
  height: 50px;
  width: 100%;
    background: #66b3ff;
}
body{
  margin: 0;
  background: #ccebff;
}
.body-img{

  background-image:url("loginpage.png");

  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position:relative;
}

.heading{
  height: 100px;
  width: 430px;
position: relative;
left:4%;
top: 140  px;
}
.botton-heading{
  height: 100px;
  width: 430px;
position: relative;
left: 12%;
top: 500px;
}

.login-box{
height: 500px;
width: 370px;
background: rgba(255, 255, 255,0.6);
position: relative;
bottom: 150px;
left: 60%;
border-radius: 5%;

}


.mail-box{
  position: relative;
  height: 10%;
  width: 80%;
  left: 10%;
  top:5%;
}
.password{
  position: relative;
  height: 10%;
  width: 80%;

  left: 10%;
  top:15%;
}
.title-box{
  position:relative ;

  height: 100px;
 padding-top: 10%;
    padding-left: 30%;
 padding-bottom: 0;
}
.btu-login{
  position: relative;
  height: 10%;
  width: 80%;
  left: 10%;
  top:25%;
}
.log-btn{
  position: relative;
  height: 100%;
  width:100%;
  text-align: center;
  border-radius: 12px;
 font-size: 100%;
}
.txt-box{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  text-align: left;
  padding-left: 5%;
}

 .line{
   position: relative;
   margin-left: 20%;
   margin-right: 20%;
   top: 30%;
}
.create-acc{
  height: 10%;
  width: 80%;
    left: 10%;
  position:relative;
  top: 30%;
  font-size: 12px;
  text-align: center;
}

.title-txt{
  font-weight: bold;
  font-size: 40px;
  font-family:serif;
}
.bottom-txt{
  font-size:40px;
  position: relative;
  bottom: 100%;
  left: 10%;
  font-weight: bolder;
  font-family:serif;
  color: #fff;
}
.for{
  position: relative;
  left: 20%;
}
.job{
  position: relative;
  left: 30%;
}
.search{

  position: relative;
  right: 30px;
}
