<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title></title>
  </head>
  <body>
    <div class="tit">
      <div class="heading">
        <h2><a href="#">Jobs Map</a></h2>
      </div>

      <div class="row ">
        <a  class="btn "  href="/dashbord">FIND JOBS </a>
        <a  class="btn " href="/logout">LOGOUT</a>
      </div>
    </div>
    <div class="details-box">
      <h2><u>Your details</u></h2>

      <table class="tab-box"><br><br><br><br>
        <tr>
          <td>firstname:</td>
          <td>Prasath</td>
        </tr>
        <tr>
          <td>lastname:</td>
          <td>JS</td>
        </tr>
        <tr>
          <td>Email ID:</td>
          <td>prasathjs@gmail.com</td>
        </tr>
        <tr>
          <td>College:</td>
          <td>ABC college</td>
        </tr>
        <tr>
          <td>Qualification:</td>
          <td>BE-CSE</td>
        </tr>
        <tr>
          <td>Skills:</td>
          <td>JAVA,C++</td>
        </tr>
        <tr>
          <td>Intrest:</td>
          <td>Web Development</td>
        </tr>
    </div>
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "1e37e3f8-b996-4518-935d-5d45ea53a543", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "6a00d3de-c85d-45d1-ac93-3662219a5b2b", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
  </body>
</html>
